RAW/Task 1 Food Segmentation Dataset/FoodSeg103/Images/ann_dir/train/*
!RAW/Task 1 Food Segmentation Dataset/FoodSeg103/Images/ann_dir/train/
RAW/Task 1 Food Segmentation Dataset/FoodSeg103/Images/ann_dir/test/*
!RAW/Task 1 Food Segmentation Dataset/FoodSeg103/Images/ann_dir/test/